ultralytics>=8.3.0
opencv-python>=4.10.0
torch>=2.3.0
torchvision>=0.18.0
# Jika kamu ingin pastikan CUDA 12.1 (GPU NVIDIA)
# pip install torch torchvision --index-url https://download.pytorch.org/whl/cu121
argparse>=1.4.0
numpy>=1.26.0
pandas
uvicorn
fastapi
gunicorn
python-multipart